body {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: black;
    text-align: center;
    
}
.section-box {
    background-color: gray;
    padding: 10px;
    border: 2px solid black;
    width: 30%;
    position: absolute;
    float: right;
    margin-right: 10px;

}
.section-box-text {
    font-weight: bold;
    border: 2px solid black;
    background-color: pink;
    text-align: center;
    padding: 5px;
    width: 30%;
    position: absolute;
    top: -1px;
    right: -1px;
    

}
